{% extends 'base_produk.html' %}
{% load static %}


{% block title%} Tambah Kategori {% endblock %}

{% block content%}
<br>
<br>
<section class="portfolio" id="portfolio">
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">Kategori</h2>
      <hr class="star-dark mb-5">
        <br>
        <br>
          <div class="row">
          <form action="{% url 'add_categori_submit'%}" method="POST" class="post-form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Kirim">
          </form>
        </div>
      </div>
    </section>

{% endblock%}
