{% extends 'base_produk.html' %}
{% load static %}


{% block title%} ArabianStore {% endblock %}

{% block content %}	
	  <section class="bg-warning text-black text-center mb-0" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">Pembelian</h2>
        <hr class="star-light mb-5">
        <div class="row" style="display: flex; justify-content: center; ">
          <p class="lead"><h3>Pembelian Anda Telah Berhasil Dilakukan</h3></p>
        </div>
        <div class="text-center mt-4">
          <a class="btn btn-xl btn-outline-light" href="{%url 'belanja'%}">
            Kembali !
          </a>
        </div>
      </div>
    </section>
{% endblock %}